@use "./../base";

//fonts

$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$black: 800;
$extraBlack: 900;

$italic: "italic";

$h1: 3.6rem;
$h2: 3.5rem;
$big: 4.7rem;

// Color
$terracota: #DA725A;
$sable: #FFF5ED;
$bleu_glacié: #92B7BC;
$roche: #4F5C5C;
$kaki: #7B968C;
$bleu_odysée: #004F71;

$black_300: #707070;
$black_700: #000000;

$white_300: #F8F8F8;