@use "base";
@use "abstracts" as var;
@use "components";
@use "layout";

body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 97%;
  margin: 0 auto;
}

.container-narrow {
  max-width: 95%;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    max-width: 75%;
  }

  @media screen and (min-width: 1700px) {
    max-width: 60%;
  }
}

.mt-1 {
  margin-top: 1em !important;
}

.mt-2 {
  margin-top: 2em !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.mb-2 {
  margin-bottom: 2em !important;
}

.start {
  align-self: start !important;
}

#static.container {
  width: 100vw;
  height: 100vh;
  border: none;
  border-radius: 10px;
  background: #92B7BC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 2em;
  margin-bottom: 2em;

  li {
    list-style: none;
  }


  .img {
    max-width: 85%;
    border-radius: 10px;
  }

  .img img {
    border-radius: 10px;
  }

  strong {
    font-size: 2.3rem;
  }

  .socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .socials-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .socials-links img {
    max-width: 46px;
  }

  @media screen and (min-width: 568px) {
    .socials-links img {
      max-width: 56px;
    }

    strong {
      font-size: 3.3rem;
    }
  }
}

h2 {
  transition: color 0.3s ease-in-out;
}

.terracota {
  color: var.$terracota !important;
}

select {
  appearance: none;
}

.button.vi-wcaio-sidebar-cart-bt.vi-wcaio-sidebar-cart-bt-nav.vi-wcaio-sidebar-cart-bt-nav-checkout {
  background: var.$terracota;
  color: var.$sable;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  font-weight: var.$bold;
  position: relative;

  &::after {
    content: '';
    border: 1px solid var.$terracota;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 7%;
    right: -2%;
    transition: 0.3s ease-in-out;
  }

  &:hover {
    background: var.$terracota;
    color: var.$sable;

    &::after {
      top: 12%;
      right: -5%;
    }
  }
}

.button.vi-wcaio-bt-coupon-code {
  color: var.$sable !important;
  background: var.$bleu_glacié !important;
  border-radius: 3px !important;

  &:hover {
    background: var.$bleu_odysée !important;
  }
}

.vi-wcaio-sidebar-cart-header-title-wrap {
  color: var.$roche !important;
  font-weight: var.$bold;
}

.vi-wcaio-sidebar-cart-footer-cart_total.vi-wcaio-sidebar-cart-footer-subtotal, .vi-wcaio-sidebar-cart-footer-cart_total-title, .vi-wcaio-sidebar-cart-footer-cart_total1 {
  color: var.$roche !important;
}

.vi-wcaio-sidebar-cart-footer-pd-plus-title {
  display: none !important;
}

.vi-wcaio-sidebar-cart-footer-pd-name a {
  color: var.$terracota !important;
  font-weight: var.$semiBold !important;
}

.vi-wcaio-sidebar-cart-footer-pd-price span {
  color: var.$roche !important;
}

.vi_wcaio_cart_icon-cart-of-ecommerce {
  color: var.$terracota !important;
}

.vi-wcaio-sidebar-cart-count-wrap {
  background: var.$bleu_odysée !important;
  color: var.$sable !important;
}

.vi-wcaio-sidebar-cart-icon {
  position: relative;

  &::after {
    content: '';
    background: url('../assets/panier-bottom.svg') no-repeat center;
    width: 75%;
    height: 75%;
    position: absolute;
    inset: 0;
    margin: auto;
  }
  i {
    display: none !important;
  }
}

.woocommerce-form-login-toggle {
  margin: auto;
  grid-column: 1 / 3;
  place-items: center;
}