@use '../abstracts' as var;

#boutique {


  .hero-banner {
    background: url('../assets/valentin-antonucci-unsplash.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    padding-block: 8.6rem 6.4rem;
    position: relative;

    .image-filter {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      margin: auto;
      background: var.$roche;
      background-blend-mode: multiply;
      mix-blend-mode: multiply;
      opacity: 46%;
      z-index: 1;
    }

    .container-narrow {
      display: flex;
      justify-content: center;
      align-content: center;
      position: relative;
      z-index: 2;
    }
  }

  .container-narrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    @media screen and (min-width: 975px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      &.no-answer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    @media screen and (min-width: 1400px) {
      grid-template-columns: 1fr 1fr 1fr;
      &.no-answer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  article .container-narrow {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 3.4rem;
    color: white;
    text-align: center;
    max-width: 480px;
  }

  .randonneur {
    margin-bottom: 2.3rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 740px) {
      flex-direction: row;
      align-items: center;

      img:last-of-type {
        align-self: center;
      }
    }
  }

  article {
    margin-top: 24rem;

    &.littleMargin {
      margin-top: 3rem;
    }

    &.bigMargin {
      margin-top: 34rem;
    }

    @media screen and (min-width: 740px) {
      margin-top: 2rem;
    }

    strong {
      display: flow-root;
      margin-top: 1.5em;
    }
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  .pagination {
    width: 100%;

    @media screen and (min-width: 975px) {
      grid-column: 1 / 3;
      align-self: center;
      justify-self: center;
    }

    @media screen and (min-width: 1400px) {
      grid-column: 1 / 4;
    }

    ul {
      width: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.3em;
    }

    li {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;

      &.next::after, &.prev::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        inset: 0;
        margin: auto;
      }

      &.next::after {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 13px solid var.$sable;
      }

      &.prev::after {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 13px solid var.$sable;
      }

      &.page-number {
        background: #F8F8F8;
        font-size: 1.9rem;
        font-weight: var.$bold;
        transition: 0.3s ease-in-out;

        &.current {
          background: var.$bleu_glacié;
          color: white;
        }

        &:hover {
          background: var.$bleu_glacié;
          color: white;
        }
      }
    }

    ul, li {
      list-style: none;
    }
  }
}

.dynamic-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  margin-inline: auto;
  position: absolute;
  top: 102%;
  right: 0;
  left: 0;
  margin-inline: auto;

  @media screen and (min-width: 740px) {
    top: 129%;
    flex-direction: row;
    gap: 0;
  }

  .arrow-select {
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    pointer-events: none;
    height: 75.5px;
    min-width: 200px;

    select {
      border-radius: 10px;
      pointer-events: all;
      appearance: none;
      width: 100%;
    }

    @media screen and (min-width: 740px) {
      border-radius: 0;
      select {
        border-radius: 0;
      }
      &:first-of-type {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        select {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      bottom: 0;
      right: 3%;
      margin-block: auto;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 10px solid var.$bleu_glacié;
      pointer-events: none;
    }
  }

  .show-filter {
    background: var.$bleu_glacié;
    color: white;
    font-weight: var.$bold;
    font-size: 2.2rem;
    border-radius: 10px;
    border: none;
    padding: 1.6rem 2rem;
    text-transform: uppercase;
    margin-top: 3rem;
  }

  .reset {
    background: var.$bleu_glacié;
    color: white;
    border: 1px solid var.$bleu_glacié;
    padding: 2.4rem 3.6rem;
    border-radius: 10px;
    font-weight: var.$bold;
    font-size: 2rem;
    height: 75.5px;

    svg {
      width: 23px;
      height: 23px;
      fill: white;
    }

    @media screen and (min-width: 740px) {
      padding: 2rem 3.6rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  select {
    border: 1px solid var.$bleu_glacié;
    background: white;
    font-weight: var.$bold;
    color: var.$roche;
    padding: 2.4rem 1.5rem;
  }

  article {
    margin-top: 23rem;
  }
}

.nos-voyages .container-narrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4.4rem;
  column-gap: 1rem;
  margin-top: 7.66rem;
  margin-bottom: 10.3rem;
}

.voyages-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 379px;
  height: 514px;
  border-radius: 10px;
  border: 1px solid rgb(79 92 92 / 0.11);
  padding-bottom: 3.25rem;
}

.no-voyage {
  margin-inline: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  h4 {
    color: var.$terracota;
    font-size: 2.3rem;
    text-align: center;
  }

  p {
    font-size: 1.8rem;
    font-weight: var.$bold;
    text-align: center;
  }

  .return-clear {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    @media screen and (min-width: 82px) {
      flex-direction: row;
    }
  }

  a {
    position: relative;
    background: var.$terracota;
    color: var.$sable;
    text-transform: uppercase;
    font-weight: var.$bold;
    font-size: 1.8rem;
    padding: 1.2rem 1.9rem;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      border: 1px solid var.$terracota;
      top: 8%;
      right: -2%;
    }
  }

  .clear {
    text-align: center;
    font-size: 1.8rem;
    font-weight: var.$bold;
    background: var.$bleu_glacié;
    color: var.$sable;
    border-radius: 10px;
    border: none;
    position: relative;
    padding: 1.2rem 1.9rem;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      border: 1px solid var.$bleu_glacié;
      top: 8%;
      right: -2%;
    }
  }
}

.voyages-card__thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  gap: 0.2rem;
  width: 100%;
  position: relative;

  .icon-container {
    position: absolute;
    bottom: -16%;
    right: 0;
    left: 0;
    margin-inline: auto;
    background: var.$sable;
    border-radius: 50%;
    border: 1px solid var.$terracota;
    width: 82px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 52px;
      max-height: 57px;
    }
  }

  .image {
    width: 100%;
    height: 100%;
    min-height: 241px;

    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      min-height: 241px;
      object-fit: cover;
      object-position: center;
    }
  }

  .jours, .prix {
    position: absolute;
    top: 0;
    font-weight: var.$regular;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 91px;
    background-size: contain;
    font-size: 2.4rem;
  }

  .prix {
    right: 5%;
    background: url('../assets/fanion.svg') no-repeat center center;
    color: var.$sable;
  }

  .jours {
    right: 37%;
    background: url('../assets/fanion-sable.svg') no-repeat center center;
    color: var.$bleu_glacié;

    @media screen and (min-width: 362px) {
      right: 33%;
    }
  }
}

.voyages-card__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 95%;
  margin-inline: auto;
  height: 100%;
  margin-top: 4.5rem;

  h3 {
    font-size: 2.5rem;
    color: var.$terracota;
    text-align: left;
    margin-bottom: 1.4rem;
  }

  .thematique {
    font-size: 1.3rem;
    font-weight: var.$bold;
    text-align: left;
  }

  .prochain-depart {
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    strong {
      font-size: 1.3rem;
      display: flow-root;
      font-weight: var.$regular;
      text-transform: uppercase;
      border-bottom: 1px solid var.$roche;
      max-width: 180px;
      padding-bottom: 0.8rem;
      margin-bottom: 0.8rem;
    }
  }

  .dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;

    @media screen and (min-width: 390px) {
      flex-direction: row;
    }

    a {
      text-decoration: none;
      color: var.$roche;
      border: 1px solid var.$bleu_glacié;
      padding: 0.4rem 1.2rem;
      border-radius: 16px;
    }
  }
}

#boutique .gift-card {
  margin-bottom: 8.1rem;
}

#boutique .gift-card .container-narrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .gift-card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var.$sable;
    width: 100%;

    @media screen and (min-width: 850px) {
      width: 75%;
    }
  }

  .bleu-glacie__bg {
    position: absolute;
    z-index: 2;
    opacity: 0.8;
    background: var.$bleu_glacié;
    inset: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .bg {
    position: absolute;
    z-index: 1;
    background: var.$bleu_glacié;
    inset: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    justify-items: center;
    align-items: center;

    @media screen and (min-width: 1000px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    li {
      max-width: 96px;
      max-height: 96px;

      &.unused {
        display: none;

        @media screen and (min-width: 1200px) {
          display: block;
        }
      }
    }
  }

  .content {
    position: relative;
    width: 96%;
    height: 100%;
    z-index: 3;
    padding-top: 5.9rem;
    padding-bottom: 4.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: var.$bold;
    text-align: center;
    color: var.$sable;
    margin-bottom: 1rem;
  }

  p {
    font-size: 2.1rem;
    display: flow-root;
    margin-bottom: 5.3rem;
    text-align: center;
  }

  a {
    position: relative;
    background: var.$terracota;
    color: var.$sable;
    text-transform: uppercase;
    font-weight: var.$bold;
    font-size: 1.6rem;
    padding: 1.2rem 1.9rem;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      border: 1px solid var.$terracota;
      top: 8%;
      right: -2%;
    }
  }
}

.gift-card {
  .arrow-up {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 618px) {
      flex-direction: row;
      gap: 0.5em;
    }


    p {
      font-size: 3.5rem !important;
      margin-bottom: 0 !important;

      @media screen and (min-width: 618px) {
        align-self: end;
      }
    }
  }
}

.flex-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  span {
    color: white;
    font-size: 3.4rem;
    font-weight: var.$bold;
  }
}