@use '../abstracts' as var;

#account {

  .container-narrow.pages-container {
    max-width: 60%;
  }

  .content {
    margin-inline: auto;
    width: 100%;
  }

  .woocommerce-notices-wrapper {
    position: absolute;
    top: -10%;
  }

  .woocommerce {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    position: relative;

    &::before {
      position: absolute;
    }

    h2 {
      font-size: 3rem;
      color: var.$terracota;
      text-transform: uppercase;
      text-align: center;
      line-height: 1;
    }
  }

  .woocommerce-order-details {
    margin-block: 2em;
  }

}