@use '../abstracts' as var;

main.pages {
  margin-bottom: 10.9rem;

  .hero-wave-banner {
    pointer-events: none;
  }

  .wp-block-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: unset;
    flex-basis: unset;

    p {
      align-self: center;
    }

    &.column {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      wp-block-image {
        margin-bottom: 0;
      }
    }
  }

  .hero-strong {
    font-size: 1.7rem;
    color: var.$roche;
    font-weight: var.$bold;
    text-align: center;
    margin-top: 2.4rem;
    display: flow-root;
    max-width: 800px;
    margin-inline: auto;
  }

  .container-narrow.pages-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      align-items: start;
      max-width: 85%;
      gap: 3rem;
      
      .content {
        max-width: calc(100% - 410px);
      }

      .randonneur__top {
        transform: rotateY(180deg);
      }
    }
  }

  .right-side .articles {
    margin-top: 0;
  }

  .left-cont {
    margin: 0 auto;
  }

  article {
    margin: 0 auto;
  }
}

.two-line {
  width: 156px;
  display: flow-root;
  text-align: center;
}

.randonneur {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-top: 2.3rem;

  img:first-of-type {
    display: none;
  }

  @media screen and (min-width: 750px) {
    flex-direction: row;
    justify-content: start;

    img:first-of-type {
      display: block;
    }
  }

  p {
    font-family: var.$moon_flower;
    font-size: 3rem;
    text-transform: uppercase;
    display: flow-root;
    max-width: 160px;
    text-align: center;
  }

  .fleche-randonneur__top {
    transform: rotate(180deg);
  }
}

article .wp-block-columns {
  margin-top: 3em;
  gap: 1em;
  justify-content: center;

  h5 {
    margin-top: 1.5rem;
    margin-bottom: 0.1rem;
  }
}

.citation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media screen and (min-width: 1200px) {
    &::before {
      content: '';
      position: absolute;
      top: -33%;
      left: 0;
      background: url('../assets/left-tag.svg');
      height: 79px;
      width: 50px;
      display: block;
    }

    strong {
      text-align: center;
      max-width: 90%;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -33%;
      right: 0;
      background: url('../assets/right-tag.svg');
      height: 79px;
      width: 50px;
      display: block;
    }
  }
}

.moon-flower {
  font-family: var.$moon-flower;
}

.randonneur-formule {
  line-height: 1.3;
}

.wp-container-6.wp-block-columns {
  flex-direction: row !important;
  justify-content: start;
  align-items: center !important;
  margin-left: 8rem;

  @media screen and (min-width: 848px) {
    margin-left: 15rem;
  }

  @media screen and (min-width: 1050px) {
    margin-left: 24rem;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 0;
  }

  @media screen and (min-width: 1400px) {
    margin-left: 8rem;
  }

  @media screen and (min-width: 1676px) {
    margin-left: 17rem;
  }

  .wp-block-column {
    flex-basis: unset !important;
    flex-grow: unset !important;
  }

  img {
    margin: 0 auto;
  }

}


.bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 316px;
  width: min(100%, 379px);

  @media screen and (min-width: 689px) {
    height: 100%;
  }

  @media screen and (min-width: 1200px) {
    height: 316px;
  }

  .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 0.2em;
    column-gap: 1.5em;
    z-index: 0;
    border-radius: 10px;

    li, img {
      width: 70px;
    }
  }

  .bottom-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background: rgb(146 183 188 / 0.9);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var.$sable;
    text-align: center;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.3em;
    }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 3.3rem;
    }

    a {
      font-size: 1.7rem;
      text-align: center;
      text-decoration: none;
      color: var.$sable;
      font-weight: var.$bold;
    }
  }
}

.text-moon__container {
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;

  p {
    line-height: 1.3;
  }
}

.column-content {
  .wp-block-column {
    flex-direction: column;
    gap: 1.2rem;
  }
}

.reverse-arrow {
  transform: rotateY(180deg);
}

.button-pages a {
  font-size: 1.7rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background: var.$terracota;
  padding: 1em;
  font-weight: var.$bold;
  position: relative;
  margin-bottom: 1.9rem;

  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;

    top: 10%;
    left: 3%;
    border: 1px solid var.$terracota;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
  }

  &:hover::after {
    top: 15%;
    left: 6%;
  }
}

.optionnal-rs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var.$terracota;
  border-radius: 10px;
  padding: 3.6rem 1.6rem;
  text-align: center;
  gap: 1.2rem;

  @media screen and (min-width: 689px) {
    grid-column: 1 / 3;
  }

  @media screen and (min-width: 1200px) {
    grid-column: unset;
  }

  h4 {
    font-size: 1.8rem;
    color: var.$roche;
    text-transform: uppercase;
    margin-bottom: 0 !important;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    li {
      width: 38px;
      height: 38px;
      list-style: none;
    }

    a {
      width: 38px;
      height: 38px;

      img {
        width: 38px;
        height: 38px;
      }
    }
  }

  p {
    font-size: 1.7rem;
    color: var.$roche;
  }
}

.wp-block-columns.custom-randonneur {
  display: flex;
  flex-direction: column;
  gap: 0;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: start;
    gap: 1em;
    position: relative;
    top: -50px;
    margin-top: 0;
    margin-left: 7rem;

    .wp-block-column {
      width: fit-content;
      flex-basis: unset !important;
      flex-grow: unset !important;
      align-self: center;
      margin-top: 1.5em;

      &:first-of-type {
        align-self: start;
        margin-top: 0;
      }

      &:last-of-type {
        img {
          transform: rotateY(180deg);
        }
      }
    }

  }

  @media screen and (min-width: 1700px) {
    margin-left: 10rem;
  }
}

.randonneur-basis {
  div {
    flex-basis: unset !important;
    flex-grow: unset !important;
  }

  @media screen and (min-width: 782px) {
    justify-content: start;
    margin-left: 2em;
  }
}