@use '../abstracts' as var;

.randonneur {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-top: 2.3rem;

  p {
    font-family: var.$moon_flower;
    font-size: 3.7rem;
    text-transform: uppercase;
  }

  .fleche-randonneur__top {
    transform: rotate(180deg);
  }
}