@use '../abstracts' as var;

.checkout {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid var.$bleu_glacié;
  padding: 1rem;
  border-radius: 10px;
}

#review_customer_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var.$bleu_glacié;
  color: var.$sable;
  border-radius: 10px;
  padding: 1rem;
}

#customer_details {
  width: 100%;

  .woocommerce-billing-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  h3 {
    font-size: 2.5rem;
    text-align: center;
  }
}

.woocommerce-billing-fields__field-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 90%;

  @media screen and (min-width: 650px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2rem;
  }

  @media screen and (min-width: 950px) {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;

    #billing_address_1_field, #billing_address_2_field {
      margin: 0 !important;
    }
  }

  label {
    color: var.$sable;
    margin-bottom: 0.3rem;
    display: flow-root;
  }

  input {
    background: white;
    border: 1px solid var.$bleu_odysée;
    padding: 1rem 1.5rem;
    border-radius: 10px;
  }

  p, input {
    width: 100% !important;
  }

  .select2 {
    padding: 1rem 1.5rem !important;
    border: 1px solid var.$bleu_odysée !important;
    border-radius: 10px !important;
    background: white;
  }

  .select2-selection {
    border: none !important;
    background: transparent !important;
    border-radius: 0 !important;
    width: 100%;
    height: 100%;
  }

  .select2-selection__arrow {
    height: 0 !important;
    width: 0 !important;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 11px solid var.$terracota;
    top: 0 !important;
    bottom: 0 !important;
    right: 3% !important;
    margin-block: auto;

    b {
      display: none;
    }
  }
}

.select2-search__field {
  border-color: rgb( 0 79 113 / 0.4 ) !important;
  border-radius: 10px !important;
}

.woocommerce-additional-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;

  .woocommerce-additional-fields__field-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    p {
      width: 100%;

    }

    label {
      color: var.$sable;
    }

    textarea {
      border: 1px solid var.$bleu_odysée;
      border-radius: 10px;
      min-height: 200px;
      padding: 1rem 1.5rem;
    }
  }
}

.custom-form-validation {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-block: 1em;

  @media screen and (min-width: 650px) {
    flex-direction: row-reverse;
  }

  label {
    color: var.$sable;
    text-align: center;

    @media screen and (min-width: 650px) {
      text-align: left;
    }
  }

  input {
    background: white;
    border: 1px solid var.$bleu_odysée;
    border-radius: 3px;
    -webkit-appearance: none;
    appearance: none;
    font: inherit;
    color: currentColor;
    width: 20px;
    height: 20px;
    display: grid;
    place-content: center;

    &::before {
      content: '';
      width: 0.85em;
      height: 0.85em;
      border-radius: 3px;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em var.$terracota;
    }

    &:checked::before {
      transform: scale(1);
    }
  }
}

.review-order-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}